.Footer {
  width: 100vw;
  height: 15vh;
  position: relative;
  background-image: linear-gradient(white 3%, rgb(0, 140, 255));
}

.Capsula {
  text-align: center;
  width: 8%;
  height: 50%;
  font-size: 20px;
  transform: translate(0%, 100%);
  position: absolute;
  top: 0%;
  left: 90%;
  text-shadow: 1px 1px 1px black;
  color: white;
}

.Capsula2 {
  text-align: center;
  position: absolute;
  width: 28%;
  height: 25%;
  font-size: 20px;
  transform: translate(0%, -100%);
  top: 95%;
  text-shadow: 1px 1px 1px black;
  color: white;
}
